<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img id="info-user-img" class="profile-image" src="https://argentinaprograma.inti.gob.ar/pluginfile.php/59379/user/icon/moove/f1?rev=152616"></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="info-data">
            <h3 id="info-name">{{persona.nombre}} {{persona.apellido}}</h3>
            <h6 id="info-company">Programadora Web Full Stack Jr.</h6>
            </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <span id="acercaDeMi">
                <h2>Sobre Mi</h2>
                <p> Me gusta trabajar con HTML y JavaScript, junto con preprocesadores de CSS, para crear plataformas y sitios web (Frontend), como también a través de la gestión de bases de datos y servidores (Backend).</p>
            </span>
            </div>
            
