<nav class="navbar navbar-expand-lg bg-dark sticky-top" id="sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand"
      href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"><img
        id="logoAP"
        src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1653341386/APLogo-20-20.png"
        alt="Argentina Programa" width="150px"></a>
    <div>
      <p>#YoProgramo</p>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" id=" portafolio">Portafolio LunaResonante</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Sobre Mi</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Mis Redes Antisociales</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="https://web.facebook.com/ayluu/">Facebook</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="https://github.com/luna-resonante">GitHub </a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="https://www.linkedin.com/in/aylen-sanduay-716860232/">LinkedIn</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="">YouTube</a></li>
          </ul>
      </ul>
      <div>
        <button id="iniciarsesion" class="btn btn-outline-success" href="#" type="submit">Iniciar Sesión</button>
      </div>
    </div>
  </div>
</nav>

<div id="profile-background"><img id="info-back-img"
    src="../../../assets/106104509_10223605894232862_6275046164872297535_n.jpg">
</div>