<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-11">
    <ul>
      <li><h3>Trabajo 1</h3> - <h5>(year)</h5></li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, perferendis nemo labore odit doloremque animi maxime, sit alias, amet quae autem asperiores ut quaerat hic delectus saepe error ea dolores.</p>
    </ul>
    <ul>
      <li><h3>Trabajo 2</h3> - <h5>(year)</h5></li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, perferendis nemo labore odit doloremque animi maxime, sit alias, amet quae autem asperiores ut quaerat hic delectus saepe error ea dolores.</p>
    </ul>
    <ul>
      <li><h3>Trabajo 3</h3> - <h5>(year)</h5></li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, perferendis nemo labore odit doloremque animi maxime, sit alias, amet quae autem asperiores ut quaerat hic delectus saepe error ea dolores.</p>
    </ul>
  </div>
</div>