<div class="card mat-card" id="first-card">
  <div id="profile-background"><img id="info-back-img" src="https://th.bing.com/th/id/R.3b7077d78ec232a5b3c039e6adf66eb4?rik=pi6UOupteAqDhw&riu=http%3a%2f%2f3.bp.blogspot.com%2f-dqhay3TCsZI%2fVCeVeK6lbiI%2fAAAAAAAAAEs%2fXvNfOPf03yA%2fs1600%2flogoo.gif&ehk=120wf2rQXX%2bQSMa278e42caDJm0HjVWP6hD%2bhtTNORo%3d&risl=&pid=ImgRaw&r=0"></div>
  <div id="info" style="padding: 16px">
    <div id="info-img">
      <img id="info-user-img" class="profile-image" src="https://argentinaprograma.inti.gob.ar/pluginfile.php/59379/user/icon/moove/f1?rev=152616">
      <div class="btn-edit"><a href="#" class="btn-right" ><i class="fa fa-pen" onclick="showEditProfileModal()" ></i></a></div>
    </div>
    <div id="info-data">
      <div>
        <h1 id="info-name">Aylen Sanduay</h1>
        <div><span id="info-position">Estudiante</span> de <span id="info-company">Instructora en</span></div>
        <div id="info-contact">
          <span id="info-ubication">San Javier - Córdoba (Argentina) </span>
          <span><a href="#">Información de contacto</a></span>
        </div>
      </div>
      <ul id="info-details">
        <li><a href="#">
          <img id="info-company-img" src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1653341386/APLogo-20-20.png">
          <h2 id="info-company-name">Argentina Programa</h2>
        </a></li>
        <li><a href="#">
          <img id="info-school-img" src="https://inerciacero.files.wordpress.com/2011/07/logo-uba.png">
          <h2 id="info-school-name">Universidad de Buenos Aires</h2>
        </a></li>
      </ul>
    </div>
    <div id="info-actions">
      <button type="button" class="btn btn-primary">Tengo interés en</button>
      <button type="button" class="btn btn-light">Añadir Sección</button>
      <button type="button" class="btn btn-light">Más</button>
    </div>
  </div>
</div>
