.row{
    display:flex;
    padding: 15px;
}
div{
    background-image: url('../../../assets/106104509_10223605894232862_6275046164872297535_n.jpg');
    height:100%;
    background-repeat: no-repeat;
    background-size : cover;
    background-attachment: fixed;
    max-width: 100%;
    
    }

h5{
      font-style: italic;
}