<div class="row">
    <h2>Hard & Soft Skills</h2>
    <h5>Habilidades blandas y duras</h5>
    <div class="text-center col-sm-2 col-md-3 col-lg-4">
    <circle-progress
  [percent]="90"
  [radius]="90"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'blue'"
  [innerStrokeColor]="'#444444'"
  [animation]="true"
  [animationDuration]="1500"
  [showUnits]="false"
  [title]="'Angular'"
  [titleColor]="'#444444'"
  [titleFontSize]="'29px'"
  [backgroundGradient]="true"
  [subtitle]="''">
</circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-4">
    <circle-progress
  [percent]="80"
  [radius]="90"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'blue'"
  [innerStrokeColor]="'#444444'"
  [animation]="true"
  [animationDuration]="1500"
  [showUnits]="false"
  [title]="'Html, JS y Css'"
  [titleColor]="'#444444'"
  [titleFontSize]="'24px'"
  [backgroundGradient]="true"
  [subtitle]="''">
  
</circle-progress>
</div><div class="text-center col-sm-3 col-md-3 col-lg-4">
    <circle-progress
  [percent]="50"
  [radius]="90"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'blue'"
  [innerStrokeColor]="'#444444'"
  [animation]="true"
  [animationDuration]="1500"
  [showUnits]="false"
  [title]="'Inglés'"
  [titleColor]="'#444444'"
  [titleFontSize]="'32px'"
  [backgroundGradient]="true"
  [subtitle]="''">
</circle-progress>
</div><div class="text-center col-sm-3 col-md-3 col-lg-4">
    <circle-progress
  [percent]="70"
  [radius]="90"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'blue'"
  [innerStrokeColor]="'#444444'"
  [animation]="true"
  [animationDuration]="3000"
  [showUnits]="false"
  [title]="'MySQL'"
  [titleColor]="'#444444'"
  [titleFontSize]="'28px'"
  [backgroundGradient]="true"
  [subtitle]="''">
</circle-progress>
</div><div class="text-center col-sm-3 col-md-3 col-lg-4">
    <circle-progress
  [percent]="70"
  [radius]="90"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'blue'"
  [innerStrokeColor]="'#444444'"
  [animation]="true"
  [animationDuration]="3000"
  [showUnits]="false"
  [title]="'Java'"
  [titleColor]="'#444444'"
  [titleFontSize]="'24px'"
  [backgroundGradient]="true"
  [subtitle]="''">
</circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-4">
    <circle-progress
  [percent]="100"
  [radius]="90"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'green'"
  [innerStrokeColor]="'#444444'"
  [animation]="true"
  [animationDuration]="3000"
  [showUnits]="false"
  [title]="'Trabajo en equipo'"
  [titleColor]="'#444444'"
  [titleFontSize]="'18px'"
  [backgroundGradient]="true"
  [subtitle]="''">
</circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-4">
  <circle-progress
[percent]="100"
[radius]="90"
[outerStrokeWidth]="10"
[innerStrokeWidth]="4"
[outerStrokeColor]="'green'"
[innerStrokeColor]="'#444444'"
[animation]="true"
[animationDuration]="3000"
[showUnits]="false"
[title]="'Creatividad'"
[titleColor]="'#444444'"
[titleFontSize]="'27px'"
[backgroundGradient]="true"
[subtitle]="''">
</circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-4">
  <circle-progress
[percent]="100"
[radius]="90"
[outerStrokeWidth]="10"
[innerStrokeWidth]="4"
[outerStrokeColor]="'green'"
[innerStrokeColor]="'#444444'"
[animation]="true"
[animationDuration]="3000"
[showUnits]="false"
[title]="'Liderazgo'"
[titleColor]="'#444444'"
[titleFontSize]="'27px'"
[backgroundGradient]="true"
[subtitle]="''">
</circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-4">
  <circle-progress
[percent]="100"
[radius]="90"
[outerStrokeWidth]="10"
[innerStrokeWidth]="4"
[outerStrokeColor]="'green'"
[innerStrokeColor]="'#444444'"
[animation]="true"
[animationDuration]="3000"
[showUnits]="false"
[title]="'Pro-activa'"
[titleColor]="'#444444'"
[titleFontSize]="'26px'"
[backgroundGradient]="true"
[subtitle]="''">
</circle-progress>
</div>
</div>
